@import './reset.css';
@import './variables.css';

/* topbar */

.topbar-text {
    font-family: var(--montsrat);
    font-weight: 500;
}

.cash {
    padding: 0;
    font-weight: 400;
}

.flag.dropdown-menu.show {
    /* top: 50% !important; */
    left: -50px !important;
    min-width: 20%;
    transition: all 0.3s step-start;

}

.cash.dropdown-menu.show {
    /* top: 50% !important; */
    left: -10px !important;
    min-width: 20%;

}

/* Navbar top */
.nav-brand a {
    font-family: var(--popins);
    font-weight: 700;
    font-size: 1.7rem;
    font-style: italic;
    color: var(--secondary-color);
}

.nav-mittel {
    border-radius: 20px 20px;

}

select.form-select:focus {

    box-shadow: none;
}

.nav-mittel .input-box label {

    background-color: rgb(234, 231, 231);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30% 30% 30% 30%;
    padding: 0 30px !important;

}

.nav-mittel .input-box label i {
    font-size: 1.4rem;
}

.navbar-icon-wrapper i {
    font-size: 1.4rem;
    font-weight: 100 !important;
}

/* navbar bottom  */

.nav-menu {
    background-color: var(--secondary-color);
    padding: 15px;
    margin-top: 20px;

}

.navbar-toggler i {
    color: var(--white-color);
    font-size: 1.4rem;
}

.nav-menu .nav-item {
    padding: 0 20px;
}

.nav-menu .nav-item .nav-link{
    color: var(--white-color);
    font-weight: 500;
    font-family: var(--montsrat);
}

.navbar-collapse.show li{
    display: flex;
    justify-content: center;
}