@import './reset.css';
@import './variables.css';

/* topbar */

.topbar-text {
    font-family: var(--montsrat);
    font-weight: 500;
}

.cash {
    padding: 0;
    font-weight: 400;
}

.flag.dropdown-menu.show {
    /* top: 50% !important; */
    left: -50px !important;
    min-width: 20%;
    transition: all 0.3s step-start;

}

.cash.dropdown-menu.show {
    /* top: 50% !important; */
    left: -10px !important;
    min-width: 20%;

}

/* Navbar top */
.nav-brand a {
    font-family: var(--popins);
    font-weight: 700;
    font-size: 1.7rem;
    font-style: italic;
    color: var(--secondary-color);
}

.nav-mittel {
    border-radius: 20px 20px;

}

select.form-select:focus {

    box-shadow: none;
}

.nav-mittel .input-box label {

    background-color: rgb(234, 231, 231);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30% 30% 30% 30%;
    padding: 0 30px !important;

}

.nav-mittel .input-box label i {
    font-size: 1.4rem;
}

.navbar-icon-wrapper i {
    font-size: 1.4rem;
    font-weight: 100 !important;
}

/* navbar bottom  */

.nav-menu {
    background-color: var(--secondary-color);
    padding: 15px;
    margin-top: 20px;

}

.navbar-toggler i {
    color: var(--white-color);
    font-size: 1.4rem;
}

.nav-menu .nav-item {
    padding: 0 20px;
}

.nav-menu .nav-item .nav-link {
    color: var(--white-color);
    font-weight: 500;
    font-family: var(--montsrat);
}

.navbar-collapse.show li {
    display: flex;
    justify-content: center;
}


/* header  */
/* header Swiper */



.hero {
    height: 80vh;


}


.hero1 {
    height: 100%;

    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.9), rgba(36, 16, 31, 0.3)), url('./../../public/assets/3.png');
    background-size: cover;
    background-position: 70% center;
    background-repeat: no-repeat;

}

.heroWrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0 10%;
    height: 100%;
}

/* .hero-img img {
    width: 100%;
    height: 100%;
} */

.hero-content {
    position: absolute;
    top: 30%;
}

.swiper-slide-active h4 {
    font-size: 2.3rem;
    color: var(--white-color);
    font-family: var(--montsrat);
    text-transform: uppercase;
    /* transition: transform 0.3s linear; */
    animation: anim 0.3s 0.3s forwards;
}

.swiper-slide-active h1 {
    font-size: 3.3rem;
    color: var(--white-color);
    font-family: var(--popins);
    font-weight: 700;
    padding-right: 50%;
    margin: 20px 0;
    /* transition: transform 0.3s linear; */
    animation: anim 0.3s 0.6s forwards;
}

.swiper-slide-active span.hero-offer {
    font-size: 2.3rem;
    color: yellow;
    font-family: var(--montsrat);
    /* transition: transform 0.3s linear; */
    animation: anim 0.3s 0.8s forwards;
}

.swiper-slide-active .hero .btn-button {
    /* display: block; */
    margin: 30px 0;
    padding: 15px 25px;
    border-radius: 40px;
    /* transition: transform 0.3s linear; */
    animation: anim 0.3s 0.9s forwards;

}

.hero2 {
    background-image: linear-gradient(90deg, rgba(5, 17, 5, 0.9), rgba(0, 4, 9, 0.3)), url('./../../public/assets/2.png');
    background-size: cover;
    background-position: 75% center;
    background-repeat: no-repeat;
    height: 100%;
}


.hero-content h4,
.hero-content h1,
.hero-content span,
.hero-content .btn-button {
    opacity: 0;
}


@keyframes anim {
    0% {
        transform: translateX(-80%);
        opacity: 0;
    }

    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}



@media (max-width:990px) {
    .hero-content h4 {
        font-size: 1.7rem;
    }

    .hero-content h1 {
        font-size: 2rem;
        padding-right: 40%;
    }

    .hero-content span.hero-offer {
        font-size: 1.8rem;
    }

}

 @media (max-width:576px){
        .hero-content h4 {
        font-size: 1.2rem;
    }

    .hero-content h1 {
        font-size: 1.7rem;
        padding-right: 40%;
    }

    .hero-content span.hero-offer {
        font-size: 1.3rem;
    }

 }




/* Banner */

.banner-section {

    padding: 15px 0;
}

.banner-content span {
    font-weight: 400;
}

.banner-content h3 {
    font-family: var(--popins);
    font-size: 1.3rem;
    margin-top: 15px;
}

.banner .card {
    background-color: var(--bg-color);
}

.btn-button {
    border-radius: 30px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 15px;
    line-height: 0;
}

.btn-button i {
    border-radius: 100%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    background-color: red !important;
    color: var(--white-color);
}


.col-img img {
    transition: all 0.1s linear;
}

.col-img:hover img {
    transform: scale(1.2);
}

.banner-col:nth-child(1) .banner {
    background-color: var(--bg-color);
}

.banner-col:nth-child(2) .banner {
    background-color: rgb(247, 239, 226);
}

.banner-col:nth-child(3) .banner {
    background-color: rgb(200, 241, 243);
}





/*  products cart */


.product-card-h3 {
    display: '-webkit-box';
    -webkit-line-clamp: 9;
    -webkit-box-orient: vertical;
    overflow: hidden;
    min-height: 1.8;
}

.btn-wrapper {
    display: flex;
    justify-content: end;
}

.card-img-top {
  
    transition: all 0.3s linear;
}

.card-img-top:hover {
    transform: scale(1.1);
    transition: all 0.3s linear;
}
.card-body .card-title {
    font-family: var(--roboto);
    font-weight: 700;
    font-size: 18px;
}


.product-card-h3 {
    font-family: var(--roboto);
    font-weight: 700;
    font-size: 30px;
    margin-top: -10px;
}


.cart-star {
    color: orange;
    font-size: 25px;
    margin-top: -20px;

}

.cart-star p {
    color: var(--primary-color);
}

.card-price {
    color:rgb(6, 131, 209);
    font-size: 25px;
    font-family: var(--roboto);
    margin-top: -20px;
}

.card {
    overflow: hidden;
}

.card-badge {
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    transform: translateX(70px);
    transition: all 0.3s linear;
    background-color: #fff;
    padding: 10px;
    border-radius: 20px 0 0 20px  ;

    
    
}

 .card:hover .card-badge{
    transform: translateX(18px);

}  

.card:hover .card-badge i:hover{
    color: var(--secondary-color);
    

}


/* info Section */
.info {


    height: 400px;
    display: flex;


}

.info .container {
    background-image: url('./../../public/assets/banner02.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.info-content {
    padding-right: 50%;
    padding-left: 5%;
}

.info p {
    font-family: var(--roboto);
    font-size: 1.3rem;
    color: var(--white-color);
}




/* Footer  */

.footer-span i {
    font-size: 50px;
    color: var(--white-color);
}

.footer-top {
    background-color: var(--secondary-color);
}

.footer-left > * {
    color: var(--white-color);
    
}

.footer-left h5 {
    font-family: var(--roboto);
   
    
}

.footer-left p{
    font-family: var(--montsrat);
   
    
}


/* Breadcrumb */

.breadcrumb {
    padding: 10px 16px;
    background-color: #eed;
}
.breadcrumb__content {
    display: flex;
    align-items: center;
    justify-content: center;

}

.breadcrumb__content i{
margin-right: 10px;

}
ol {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.breadcrumb-item {
 display: flex;
 align-items: center;
 font-size: 18px;
 margin: 0;
 padding: 0;
 font-family: var(--montsrat);
}



.breadcrumb-item + .breadcrumb-item::before {
    color: black;
    content: '';
    width: 30px;
    border-top: 1px solid black;

    margin: 0 10px;
    display: flex;
    align-items: center;
    align-self: center;

}


.breadcrumb-item a {
    color: #2e4053;
    

}


/* product */

#product-select-category {
    flex-grow: 1;
}

.product-toolbar-left #product-select-category {
    flex-grow: 0;
}

.card {
    border-radius: 20px;
    border-top: none;
    width: 210px;
}

.product-image-card {
background:linear-gradient(160deg,rgba(255, 255, 255, 0.3) , rgba(159, 157, 157, 0.8));
/* width: 100%; */
height: 200px;
display: flex;
justify-content: center;
border-radius: 0 0 40px 40px;
background-position: 0% 0%;
transition: all 0.2s ease;
 background-size: 200% 200%;


}

.product-image-card:hover {
background-position: 100% 100%;


}
.product-card-image {
   
    height: 100%;
    mix-blend-mode: multiply;

}


/* product Modal */

.modal-dialog {
   margin-top:230px;
    background-color: white;
    max-width: 800px;
    min-height: 700px;
}
.modal img {
    width: 100%;
    margin-top: 50px;
}

.card-modal-title {
    margin-top: 10px;
}

.close-modal-buttom {
    top: 20px;
    right: 20px;
    font-size: 15px;
    padding: 5px;
    background-color: gray;

}

.card-modal-title {
    font-family: var(--montsrat);
    font-weight:500;
}

.card-modal-price {
    font-family: var(--montsrat);
    font-weight:600;
    color: var(--secondary-color);
}
.modal-star {
    color: orange;
    display: flex;
    gap: 15px;
}

.modal-star p{
    color: var(--primary-color);
    font-family: var(--roboto);
}

.card-modal-des {
    font-family: var(--roboto);
    margin-top: 20px;
   
}

.card-modal-ram > h5 {
    font-family: var(--roboto);
    font-size: 1.1rem;
}

.card-modal-ram > div span {
    display: inline-block;
    border: 1px solid gray;
    margin: 5px 5px;
    padding: 5px;
    border-radius: 5px;
    border-color: rgb(214, 211, 211);
    font-family: var(--roboto);
    font-weight: 500;
     outline: #1b567a;


}


.card-modal-quantity-wrapper  {
display: flex;
margin-top: 20px;
margin: 20px 0;
}

.card-modal-quantity-wrapper input {
    padding: 15px;
    border: 1px solid rgb(214, 210, 210);
    width: 50px;
    border-radius: 3px;
   display: block;
   height: 50px;
  
}

.quantity-buttom {
    /* padding: 5px; */
    background-color: #e8e9e9;
}

.card-modal-quantity-wrapper .btn-info{
    background: #1b567a !important;
}

.card-modal-add-wrapper {
    margin: 20px 0;
    display: flex;
    gap: 40px;
  

}

.card-modal-add-wrapper button{

    display: flex;
    gap: 11px;
    font-family: var(--roboto);
    justify-content: center;
    align-items: center;
    background-color: var(--white-color);

}

.card-modal-add-wrapper button i{
font-size: 20px;

}

.card-modal-add-lager {
    background-color: rgb(144, 173, 15);
    padding: 1px 20px;
backdrop-filter: blur(60px);
display: flex;
align-items: center;
border-radius: 5px;
   
}

.card-modal-add-lager i {

    font-size: 25px;
    margin: 0 10px;
   
}

